body {
    font-family: roboto, sans-serif;
    color: #F9FAF8;
    background-color: #1F2937;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

#grid {
    max-width: 800px;
    max-height: 800px;
    outline-style: solid;
    outline-width: 3px;
    outline-color: black;
    display: flex;
    flex-wrap: wrap;
}

#buttonContainer{
    display: flex;
    flex-direction: row;
    gap: 10px;
}

#clearButton, #changeGridSizeButton {
    width: 100px;
    height: 50px;
    border-style: none;
    font-weight: bold;
    color:#1F2937;
    background-color: #E5E7EB;
    padding: 10px 20px;
    border-radius: 7px;
}